<%- include ("partials/header")%>

<div class="ui main text container segment">
    <div class="ui huge header">
        <h2><%= campground.name %></h2>
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= campground.image %>" alt="image went wrong">

            <div class="description">
                <p><%- campground.description %></p>
            </div>
            <a class="ui yellow basic button" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
            <form id='delete' action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
                <button class="ui red basic button">Delete</button>
            </form>

            <div>
                <p>Comments</p>
                <% campground.comments.forEach( (comment) => { %>
                    <p> <%= comment.author %> </p>
                    <p> <%= comment.text %> </p>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer")%>

